{% extends 'base.html' %}

{% block title %}Hotel Create{% endblock title %}

{% block content %}
<body>
    <section class="reg-login-area">
        <h1>სასტუმროს ინფორმაცია</h1>
       
        
            
            <form class="reg-login-area-box second" action=" {% url 'travelmore:hotel-create' %}" method='post' enctype="multipart/form-data">
                {% csrf_token %}
                   {{form.hotelName}}
                   {{form.region}}
                   <label for="" style='width: 100%; '>Price</label>
                   {{form.price}}
                   <label for="" style='width: 100%;'>Stars</label>
                   {{form.stars}}
                    <div class="side-to-side">
                       <div class="file-area">
                           <label for="">Thumbnail Photo</label>
                           {{form.thumbnail}}
                           <label for="">Hotel Cover Photo</label>
                           {{form.hotelImage}}
                       </div>
                       <div class="text-area">
                           {{form.description}}
                       </div>
                    </div> 

                    <button type="submit" onclick="hotelCreateFunction();" class="btn btn-primary btn-width">Create</button>
                
            </form>
    </section>
{% endblock content %}