{% extends 'base.html' %}

{% block title %}Hotel Edit{% endblock title %}

{% block content %}
    <form class="reg-login-area" method='post' enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Change Hotel Info</h1>
        <div class="reg-login-area-box second">
            {{form.hotelName}}
            {{locationform.region}}
            {{locationform.address}}
            {{form.stars}}
            <div class="side-to-side">
                <div class="file-area">
                    {{form.thumbnail}}
                    {{form.hotelImage}}
                </div>
                <div class="text-area">
                   {{form.description}}
                </div>
            </div>
            <button type="submit" onclick="editHotelFunction();" class="btn btn-primary btn-width">შეცვლა</button>
        </div>
    </form>
{% endblock content %}