{% extends 'base.html' %}

{% block title %}Hotel Info{% endblock title %}

{% block content %}
    <main>
        <section class="cover-image-area">
            <img src="{{hotel.hotelImage.url}}" id="cover-image" alt="">
        </section>
        <section class="hotel-info">
            <div class="hotelimage d-flex flex-column align-items-center">
                <img src="{{hotel.thumbnail.url}}" id="hotel-image" alt="">
                <p id="name">{{hotel.hotelName}}</p>
                <h5 id="star-area">
                {% for _ in "x"|rjust:hotel.stars %}
                    <i class="fas fa-star" style="color: #ffc107; margin-right: 5px"></i>
                {% endfor %}</h5>
            </div>
            <div class="hotel-info-content d-flex flex-column justify-content-evenly align-items-center m-auto">
                <div class="info d-flex justify-content-around align-items-center w-100">
                    <div class="other-than-descritpion d-flex flex-column justify-content-evenly align-items-start">
                        <p id="region"><span style="color: #ffc107;">Region: </span>{{hotel.region}}</p>
                        <p id="price"><span style="color: #ffc107;">Price:</span> {{hotel.price}}$</p>
                        <p id="ownername"><span style="color: #ffc107;">Owner/Author:</span> {{hotel.owner}}</p>
                    </div>
                    <div class="description-area">
                        <p id="desription"><span style="color: #ffc107;">Description: </span>{{hotel.description}}</p>
                    </div>
                </div>
            </div>
            <div class="buttons" style='display:flex; justify-content: space-around; align-items: center; width: min-content; margin:auto;'>
                {% if request.user == hotel.owner %}
                    <a href="{% url 'travelmore:hotel-delete' hotel.slug %}" style='width: min-content;'><button class='btn btn-danger'>Delete</button></a>
                {% endif %}
            </div>
        </section>
    </main>
{% endblock content %}
