{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
    <main>
        <section class="reg-login-area">
            <div class="reg-login-area-box">
                    <form class="form login-form" method='post' action="{% url 'users:login' %}">
                        {% csrf_token %}
                        <h1>შესვლა</h1>
                        <label for="">Username</label>
                        {{form.username}}
                        <label for="">Password</label>
                        {{form.password}}
                        <button type="submit" class="btn btn-primary" id="regBtn">Log In</button>
                    </form>
            </div>
        </section>
    </main>
{% endblock content %}