{% extends 'base.html' %}

{% block title %}Registration{% endblock title %}


{% block content %}
    <main>
        <section class="reg-login-area">
            <div class="reg-login-area-box">
                    <form class="form" method="post" action="{% url 'users:register' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h1>Register</h1>
                        {{form.username}}
                        <div class="name-sname w-100">
                            {{form.first_name}}
                            {{form.last_name}}
                        </div>
                        {{form.email}}
                        {{form.password}}
                        
                        {{form.avatar}}
                        <button type="submit" class="btn btn-primary" id="regBtn">რეგისტრაცია</button>
                    </form>
            </div>
        </section>
    </main>
{% endblock content %}